*.so
*.swp
*.o
*.swo
Makefile
.libs/
.deps/
*~
*.a
*.la
*.lo
Makefile.in
*.loT
*.info
configure
aclocal.m4
autom4te.cache/
/config.h
/include/lttng/config.h
/include/lttng/stamp-h2
/include/lttng/ust-version.h
/include/lttng/ust-config.h
/config.h.in
config/
config.log
config.status
stamp-h1
libtool
lttng-ust.pc

ustctl/ustctl
ust-consumerd/ust-consumerd

doc/examples/demo/demo
doc/examples/easy-ust/sample
doc/examples/hello-static-lib/hello
doc/examples/gen-tp/sample
doc/examples/gen-tp/sample_tracepoint.h

tests/hello/hello
tests/hello.cxx/hello
tests/same_line_tracepoint/same_line_tracepoint
tests/ust-basic-tracing/ust-basic-tracing
tests/ust-multi-test/ust-multi-test
tests/trace_event/trace_event_test
tests/tracepoint/benchmark/tracepoint_benchmark
tests/tracepoint/tracepoint_test
tests/snprintf/prog
tests/benchmark/bench1
tests/benchmark/bench2
