*.so
*.swp
*.o
*.swo
*.trs
*.log
Makefile
.libs/
.deps/
*~
*.a
*.la
*.lo
Makefile.in
*.loT
*.info
cscope.*
configure
/aclocal.m4
autom4te.cache/
/include/config.h
/include/config.h.in
/include/stamp-h1
/include/lttng/config.h
/include/lttng/stamp-h2
/include/lttng/ust-version.h
/include/lttng/ust-config.h
/config/ar-lib
/config/compile
/config/config.guess
/config/config.sub
/config/config.sub
/config/depcomp
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/test-driver
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
config.log
config.status
/libtool
lttng-ust.pc
lttng-ust-ctl.pc

ustctl/ustctl
ust-consumerd/ust-consumerd

doc/examples/demo/demo
doc/examples/easy-ust/sample
doc/examples/hello-static-lib/hello
doc/examples/gen-tp/sample
doc/examples/gen-tp/sample_tracepoint.h
doc/examples/demo-tracef/demo-tracef
doc/examples/demo-tracef/demo-vtracef
doc/examples/demo-tracelog/demo-tracelog
doc/examples/demo-tracelog/demo-vtracelog
doc/examples/cmake-multiple-shared-libraries/build/

doc/man/*.xml
doc/man/lttng-gen-tp.1
doc/man/lttng-ust-cyg-profile.3
doc/man/lttng-ust-dl.3
doc/man/lttng-ust.3
doc/man/tracef.3
doc/man/tracelog.3
doc/man/vtracef.3

tests/benchmark/bench1
tests/benchmark/bench2
tests/compile/ctf-types/ctf-types
tests/compile/hello.cxx/hello
tests/compile/hello/hello
tests/compile/hello-many/hello-many
tests/compile/same_line_tracepoint/same_line_tracepoint
tests/compile/test-app-ctx/hello
tests/unit/gcc-weak-hidden/test_gcc_weak_hidden
tests/unit/libmsgpack/test_msgpack
tests/unit/libringbuffer/test_shm
tests/unit/pthread_name/test_pthread_name
tests/unit/snprintf/test_snprintf
tests/unit/ust-elf/test_ust_elf
tests/unit/ust-elf/ust-elf

# Java agent library
*.class
lttng-ust-agent*.jar
liblttng-ust-agent.jar
classnoinst.stamp
jni-header.stamp
context-jni-header.stamp
jul-jni-header.stamp
log4j-jni-header.stamp
org_lttng_ust_agent_context_LttngContextApi.h
org_lttng_ust_agent_jul_LttngJulApi.h
org_lttng_ust_agent_log4j_LttngLog4jApi.h

# Python agent
python-lttngust/lttngust/__init__.py
python-lttngust/**/*.pyc
python-lttngust/build
python-lttngust/setup.py
