*.so
*.swp
*.o
*.swo
*.trs
*.log
.libs/
.deps/
*~
*.a
*.la
*.lo
Makefile.in
*.loT
*.info
*.class
cscope.*
.dirstamp

/configure
/aclocal.m4
/autom4te.cache
/include/lttng/stamp-h2
/include/lttng/stamp-h3
/include/lttng/ust-version.h
/include/lttng/ust-config.h

/config/ar-lib
/config/compile
/config/config.guess
/config/config.sub
/config/config.sub
/config/depcomp
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/test-driver

/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4

/config.log
/config.status
/libtool

/src/common/config.h
/src/common/config.h.in
/src/common/stamp-h1
/src/lib/lttng-ust-ctl.pc
/src/lib/lttng-ust.pc

/doc/examples/demo/demo
/doc/examples/easy-ust/sample
/doc/examples/hello-static-lib/hello
/doc/examples/gen-tp/sample
/doc/examples/gen-tp/sample_tracepoint.h
/doc/examples/demo-tracef/demo-tracef
/doc/examples/demo-tracef/demo-vtracef
/doc/examples/demo-tracelog/demo-tracelog
/doc/examples/demo-tracelog/demo-vtracelog
/doc/examples/cmake-multiple-shared-libraries/build/

/doc/man/*.xml
/doc/man/lttng-gen-tp.1
/doc/man/lttng-ust-cyg-profile.3
/doc/man/lttng-ust-dl.3
/doc/man/lttng-ust.3
/doc/man/tracef.3
/doc/man/tracelog.3
/doc/man/lttng_ust_tracef.3
/doc/man/lttng_ust_tracelog.3
/doc/man/lttng_ust_vtracef.3
/doc/man/lttng_ust_vtracelog.3

/tests/benchmark/bench1
/tests/benchmark/bench2
/tests/compile/api0/ctf-types/ctf-types
/tests/compile/api0/ctf-types/ctf-types-api1
/tests/compile/api0/hello.cxx/hello
/tests/compile/api0/hello.cxx/hello-api1
/tests/compile/api0/hello/hello
/tests/compile/api0/hello/hello-api1
/tests/compile/api0/hello-many/hello-many
/tests/compile/api0/hello-many/hello-many-api1
/tests/compile/api0/same_line_tracepoint/same_line_tracepoint
/tests/compile/api0/same_line_tracepoint/same_line_tracepoint_api1
/tests/compile/api0/test-app-ctx/hello
/tests/compile/api0/test-app-ctx/hello-api1
/tests/compile/api1/hello.cxx/hello
/tests/compile/api1/hello.cxx/hello-compatapi1
/tests/compile/api1/hello/hello
/tests/compile/api1/hello/hello-compatapi1
/tests/compile/api1/hello-many/hello-many
/tests/compile/api1/hello-many/hello-many-compatapi1
/tests/compile/api1/same_line_tracepoint/same_line_tracepoint
/tests/compile/api1/same_line_tracepoint/same_line_tracepoint_compatapi1
/tests/compile/api1/test-app-ctx/hello
/tests/compile/api1/test-app-ctx/hello-compatapi1
/tests/compile/api1/ust-fields/ust-fields
/tests/compile/api1/ust-fields/ust-fields-compatapi1
/tests/regression/abi0-conflict/app_noust
/tests/regression/abi0-conflict/app_noust_dlopen
/tests/regression/abi0-conflict/app_noust_indirect_abi0
/tests/regression/abi0-conflict/app_noust_indirect_abi0_abi1
/tests/regression/abi0-conflict/app_noust_indirect_abi1
/tests/regression/abi0-conflict/app_ust
/tests/regression/abi0-conflict/app_ust_dlopen
/tests/regression/abi0-conflict/app_ust_indirect_abi0
/tests/regression/abi0-conflict/app_ust_indirect_abi0_abi1
/tests/regression/abi0-conflict/app_ust_indirect_abi1
/tests/unit/gcc-weak-hidden/test_gcc_weak_hidden
/tests/unit/libmsgpack/test_msgpack
/tests/unit/libringbuffer/test_shm
/tests/unit/pthread_name/test_pthread_name
/tests/unit/snprintf/test_snprintf
/tests/unit/ust-elf/ust-elf
/tests/unit/ust-error/test_ust_error
/tests/unit/ust-utils/test_ust_utils
/tests/unit/ust-utils/test_ust_utils_cxx

# Java agent library
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-all/*.jar
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-common/classnoinst.stamp
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-common/context-jni-header.stamp
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-common/*.jar
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-jul/classnoinst.stamp
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-jul/jul-jni-header.stamp
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-jul/*.jar
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-log4j/classnoinst.stamp
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-log4j/log4j-jni-header.stamp
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-log4j/*.jar
/src/lib/lttng-ust-java-agent/jni/common/org_lttng_ust_agent_context_LttngContextApi.h
/src/lib/lttng-ust-java-agent/jni/jul/org_lttng_ust_agent_jul_LttngJulApi.h
/src/lib/lttng-ust-java-agent/jni/log4j/org_lttng_ust_agent_log4j_LttngLog4jApi.h
/src/lib/lttng-ust-java/classnoinst.stamp
/src/lib/lttng-ust-java/jni-header.stamp

# Python agent
/src/python-lttngust/lttngust/version.py
/src/python-lttngust/**/*.pyc
/src/python-lttngust/build
/src/python-lttngust/setup.py
/src/python-lttngust/build-python-bindings.stamp
/src/python-lttngust/copy-static-deps.stamp
/src/python-lttngust/installed_files.txt

# Makefiles
/Makefile
/doc/Makefile
/doc/examples/Makefile
/doc/man/Makefile
/extras/Makefile
/include/Makefile
/src/common/Makefile
/src/lib/lttng-ust-common/Makefile
/src/lib/lttng-ust-ctl/Makefile
/src/lib/lttng-ust-cyg-profile/Makefile
/src/lib/lttng-ust-dl/Makefile
/src/lib/lttng-ust-fd/Makefile
/src/lib/lttng-ust-fork/Makefile
/src/lib/lttng-ust-java-agent/Makefile
/src/lib/lttng-ust-java-agent/java/Makefile
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-all/Makefile
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-common/Makefile
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-jul/Makefile
/src/lib/lttng-ust-java-agent/java/lttng-ust-agent-log4j/Makefile
/src/lib/lttng-ust-java-agent/jni/Makefile
/src/lib/lttng-ust-java-agent/jni/common/Makefile
/src/lib/lttng-ust-java-agent/jni/jul/Makefile
/src/lib/lttng-ust-java-agent/jni/log4j/Makefile
/src/lib/lttng-ust-java/Makefile
/src/lib/lttng-ust-libc-wrapper/Makefile
/src/lib/lttng-ust-pthread-wrapper/Makefile
/src/lib/lttng-ust-tracepoint/Makefile
/src/lib/lttng-ust-python-agent/Makefile
/src/lib/Makefile
/src/lib/lttng-ust/Makefile
/src/python-lttngust/Makefile
/src/Makefile
/tests/Makefile
/tests/benchmark/Makefile
/tests/compile/Makefile
/tests/compile/api0/Makefile
/tests/compile/api0/ctf-types/Makefile
/tests/compile/api0/hello-many/Makefile
/tests/compile/api0/hello.cxx/Makefile
/tests/compile/api0/hello/Makefile
/tests/compile/api0/same_line_tracepoint/Makefile
/tests/compile/api1/Makefile
/tests/compile/api1/ust-fields/Makefile
/tests/compile/api1/hello-many/Makefile
/tests/compile/api1/hello.cxx/Makefile
/tests/compile/api1/hello/Makefile
/tests/compile/api1/same_line_tracepoint/Makefile
/tests/compile/api1/test-app-ctx/Makefile
/tests/regression/abi0-conflict/Makefile
/tests/regression/Makefile
/tests/unit/Makefile
/tests/unit/gcc-weak-hidden/Makefile
/tests/unit/libmsgpack/Makefile
/tests/unit/libringbuffer/Makefile
/tests/unit/pthread_name/Makefile
/tests/unit/snprintf/Makefile
/tests/unit/ust-elf/Makefile
/tests/unit/ust-error/Makefile
/tests/unit/ust-utils/Makefile
/tests/utils/Makefile
/tools/Makefile
