<?xml version="1.0" encoding="UTF-8"?>

<!--
SPDX-FileCopyrightText: 2023 EfficiOS, Inc.

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Lttng name="Lttng1" domain="LOG4J">
    <Lttng name="Lttng2" domain="LOG4J2">
    </Lttng>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="Lttng1"/>
      <AppenderRef ref="Lttng2"/>
    </Root>
  </Loggers>
</Configuration>
